# prescott
PRESCOTT_WORKDIR="" # absolute path
# fatal, error, warn, info, debug, trace, silent
PRESCOTT_LOG_LEVEL=info

# server
PORT=8080
HOST=127.0.0.1
PROTOCOL=http

# pg
PGUSER=postgres
PGPASSWORD=postgres
PGDB=prescott

# jwt
JWT_SECRET=jwtsecret
